<!DOCTYPE html>
<html>
<head>
	<title>edit</title>
</head>
<body>
	<h1>Editing Book</h1>

        <%= form_tag("/posts/#{@books.id}/update") do %>
        <p>Title</p>
        <p><textarea name="title"><%=@books.title%></textarea></P>
        <p>Body</p>
        <p><textarea name="body"><%=@books.body%></textarea></p>
        <p><input type="submit" value="保存"></p>
        <% end %>
	<%= link_to("Show","/posts/#{@books.id}/show")%>
	<%= link_to("Back","/posts/index")%>
</body>
</html>
